
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --cor-primaria: rgb(58, 104, 183);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-primaria);
}

.form {
    background-color: white;
    padding: 2.9em;
    min-height: 40vh;
    width: 38%;
    box-shadow: -10px 0px 0px rgba(0, 0, 0, 0.406);
}

.field {
    border: none;
    display: flex;
    flex-direction: column;
    gap: .9em;
}

.title {
    font-size: 1.9em;
    margin-bottom: .6em;
    font-weight: 300;
    color: var(--cor-primaria);
}

.texto{
    text-transform: uppercase;
    font-weight: 400;
    color: var(--cor-primaria);
    font-size: .9em;
}

.info {
    border: none;
    border-bottom: 2px solid rgba(58, 104, 183, 0.61);
    font-size: 1.0em;
    padding: .5em 0;
    transition: padding 100ms ease;
}

.botoes {
    margin-top: .9em;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: .6em .9em;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    border: none;
    background-color: var(--cor-primaria);
    font-size: 1em;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 0.025em;
    margin-right: 1.2em;
}

.cadastrar {
    text-decoration: none;
    color: var(--cor-primaria);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
}

.Forgotpass {
    margin-top: .5em;
}

input:focus{
    outline: 2px solid var(--cor-primaria);
    padding-left: .4em;
}
